body {
    margin: 0;
    overflow: hidden;
}

.game-area {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

.paddle {
    width: 10px;
    height: 60px;
    background-color: white;
    position: absolute;
}

#leftPaddle {
    left: 20px; /*Offset from screen's left border*/
}

#rightPaddle {
    right: 20px; /*Offset from screen's right border*/
}

#ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ensure the balls center is where its coordinates are recognized*/
    border-radius: 50%;
}
